basePath: /api/v1
definitions:
  domain.Tweet:
    properties:
      content:
        type: string
      createdAt:
        type: string
      id:
        type: string
      userID:
        type: string
    type: object
  http.FollowRequest:
    properties:
      followed_id:
        type: string
      follower_id:
        type: string
    required:
    - followed_id
    - follower_id
    type: object
  http.PostTweetRequest:
    properties:
      content:
        description: Seteamos el max de caracteres a 280
        maxLength: 280
        type: string
      user_id:
        type: string
    required:
    - content
    - user_id
    type: object
externalDocs:
  description: OpenAPI
  url: https://swagger.io/resources/open-api
host: localhost:8080
info:
  contact:
    name: Carlos Santiago Yanzon
    url: https://github.com/bizk
  description: Servidor HTTP para el microblog de Uala.
  title: Uala Microblog Challenge
  version: "1.0"
paths:
  /follow:
    post:
      consumes:
      - application/json
      description: Seguir a un usuario
      parameters:
      - description: Follow user
        in: body
        name: follow
        required: true
        schema:
          $ref: '#/definitions/http.FollowRequest'
      produces:
      - application/json
      responses:
        "201":
          description: ok
          schema:
            type: string
        "400":
          description: error
          schema:
            type: string
        "500":
          description: error
          schema:
            type: string
      summary: Seguir a un usuario
      tags:
      - follow
  /timeline:
    get:
      consumes:
      - application/json
      description: Devuelve el timeline de un usuario
      parameters:
      - description: User ID
        in: query
        name: user_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Timeline
          schema:
            items:
              $ref: '#/definitions/domain.Tweet'
            type: array
        "400":
          description: error
          schema:
            type: string
        "500":
          description: error
          schema:
            type: string
      summary: Get timeline
      tags:
      - timeline
  /tweets:
    post:
      consumes:
      - application/json
      description: Crear un nuevo tweet
      parameters:
      - description: Tweet content
        in: body
        name: tweet
        required: true
        schema:
          $ref: '#/definitions/http.PostTweetRequest'
      produces:
      - application/json
      responses:
        "201":
          description: ok
          schema:
            type: string
        "400":
          description: error
          schema:
            type: string
        "500":
          description: error
          schema:
            type: string
      summary: Crear un nuevo tweet
      tags:
      - tweets
  /users:
    post:
      consumes:
      - application/json
      description: Crear un nuevo usuario
      produces:
      - application/json
      responses:
        "201":
          description: ok
          schema:
            type: string
        "400":
          description: error
          schema:
            type: string
        "500":
          description: error
          schema:
            type: string
      summary: Crear un nuevo usuario
      tags:
      - users
  /users/{user_id}:
    get:
      consumes:
      - application/json
      description: Obtener un usuario
      parameters:
      - description: User ID
        in: path
        name: user_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "201":
          description: ok
          schema:
            type: string
        "400":
          description: error
          schema:
            type: string
        "500":
          description: error
          schema:
            type: string
      summary: Obtener un usuario
      tags:
      - users
swagger: "2.0"
